html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#question{
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}

.hidden {
  margin-top:-1px;
  margin-bottom: -1px;
}
.button{
  font-weight:bold;
}

ol {
  counter-reset: my-badass-counter;
  padding: 0;
  
}

ol li:before {

  content:"(" counter(my-badass-counter, upper-alpha) ")";
  counter-increment: my-badass-counter;
  margin-right: 8px;
}

.prep{
  display:none;
}

.display-label{
  display: inline-block;
  width: 30px;
  padding-left: 5px;
}

#buttons {
  margin:auto;
}
.list-button{
  opacity: 0;
  font-size:10pt;
  width: 300px;
  display: block;
}
#main {
  margin-bottom: 70px;
}
::-webkit-scrollbar{width:9px;height:9px;}
::-webkit-scrollbar-button:start:decrement,#doc ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
::-webkit-scrollbar-track-piece{background-color:#FAFAFA;-webkit-border-radius:0;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#999;-webkit-border-radius:8px;}
::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#999;-webkit-border-radius:8px;}

#operations {
  z-index: 100;
  min-width: 320px;
  position: fixed;
  bottom:0px;
  border: 5px transparent solid ;
  margin: -5px ; 
  border-left: 10px transparent solid ;
  margin-left: -10px ; 
  background-color: white;
}
.cbstyle {

  width: 300px; /* change to your preferences */
  word-wrap: break-word;

}
.cbchoice{
  margin-left: 2em; text-indent: -2em;
  word-wrap: break-word;
  overflow: hidden
}
.display-field{
  display: inline-block;
  padding-left: 10px;
  text-indent: -10px;
  vertical-align: top;
  width: 270px; /* for testing purposes only */
}

.spinner {
  background-color: #333;

  margin:  auto;
  -webkit-animation: rotateplane 2s infinite ease-in-out;
  animation: rotateplane 2s infinite ease-in-out;
}
.switch_in_out {
  -webkit-animation: switchinout 1s infinite ease-in-out;
  animation: switchinout 1s infinite ease-in-out;
}
.switch_out {
  -webkit-animation: switchout 1s ease-in-out;
  animation: switchout 1s ease-in-out;
}
.slide_in {
  -webkit-animation: slidein 1s 1 ease-in-out;
  animation: slidein 1s 1 ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  20% { -webkit-transform: perspective(120px) rotateY(180deg) }
  40% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg) }
  60% { -webkit-transform: perspective(120px) rotateY(0deg)  rotateX(180deg) }
  80% { -webkit-transform: perspective(120px) }
  90% {-webkit-transform:  scale(0.01) }
  100% {-webkit-transform:  scale(1) }
}
@keyframes rotateplane {
  0% { transform: perspective(120px) }
  20% { transform: perspective(120px) rotateY(180deg) }
  40% { transform: perspective(120px) rotateY(180deg) rotateX(180deg) }
  60% { transform: perspective(120px) rotateY(0deg)  rotateX(180deg) }
  80% { transform: perspective(120px) }
  90% {transform:  scale(0.01) }
  100% {transform:  scale(1) }
}
@-webkit-keyframes switchinout {
  0% {-webkit-transform: scale(1)}
  50% {-webkit-transform: scale(0.01)}
  100% {-webkit-transform: scale(1)}
}
@keyframes switchinout {
  0% {transform: perspective(120px) scale(1)}
  50% {transform: scale(0.01)}
  100% {transform: scale(1)}
}
@-webkit-keyframes switchout {
  0% {-webkit-transform: scale(1);}
  100% {-webkit-transform: scale(0.01);}
}
@keyframes switchout {
  0% {transform: scale(1);}
  100% {transform: scale(0.01);}
}

@-webkit-keyframes slidein {
  0%   { opacity:0; -webkit-transform:translate(-30px) }
  100% { opacity:1; -webkit-transform:translate(0px)}
}


@keyframes slidein {
  0%   { opacity:0; transform:translate(-30px) }
  100% { opacity:1; transform:translate(0px)}
}

#backbone {
  width: 370px ;
  margin-left: auto ;
  margin-right: auto ;
}
.bigdeal
{
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size:200%;
}
.easy
{
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
#question {
  min-height: 500px;
}

.nocolor {
 background: #e1e1e1;
}
i {
    font-size:10pt;
}
p {
    font-size:12pt;
}
