<!--
  This file is now depreaciated. Consider removing it in future versions.
-->
<html>
<head>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=370px, user-scalable=0" />
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/hover.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/colors.css" %}">

<script src="{% static "js/jquery-2.1.0.min.js" %}"></script>
<script src="{% static "js/base.js" %}"></script>
<script>
  $(document).ready( function(){ 
    if (getCookie("last")!=""){
      $('#next').append('<a href="/grammar/view/'+String(getCookie("last"))+'/" class="button border-fade pulse"><i class="fa fa fa-reply"></i> Previous</a>');
    }
    setSiteCookie("last",{{ grammar.pk }},365);
  });
</script>
</head>

{% if grammar %}
<div id="main">
<div style="max-width:320px;border-style: solid;border-width: 2px; padding: 4px;">
Please click an alphabetically labeled button to see if you are correct. Click "Hit me!" to view another random question. Click "Previous" to view the last question you saw.
</div>
<h4>{{ grammar.nick }}</h4>
<p class="cbstyle">{{ grammar.question_1st }}<span style="text-decoration: underline;">{{ first.choice_text }}</span>{{ grammar.question_2nd }}</p>
<div id="choices">
  {% for label,choice in choices.items %}
  <div class="display-element" class="choice">
    <span class="display-label">({{ label }})</span>
    <span class="display-field">{{ choice.choice_text }}</span>
  </div>
  {% endfor %}
</div>
<div id="buttons">
{% for label,choice in choices.items %}<a id="choice-{{ label }}" class="button border-fade" onClick="choose({{ choice.pk }},'choice-'+'{{ label }}');">({{ label }})</a>{% endfor %}
</div>
{% if next %}
<div id="next">
  <a href="/grammar/view/{{ next.pk }}/" class="button border-fade pulse"><i class="fa fa-fighter-jet"></i> Hit me!</a>
</div>
{% endif %}
</div>
{% endif %}